[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
telepot = "*"
textblob = "*"
dataset = "*"
unidecode = "*"
requests = "*"
mypy = "*"
simpleeval = "*"
google-api-python-client = "*"

[dev-packages]
ruff = "*"

[requires]
python_version = "3.6"
